<div class="che-list-header">
  <div class="che-list-header-additional">
    <che-button-primary class="che-list-add-button"
                        ng-if="onAdd"
                        ng-show="!hideAdd"
                        che-button-title="{{addButtonTitle}}"
                        ng-click="onAdd()"></che-button-primary>
    <che-button-primary class="che-list-add-button"
                        ng-if="addButtonHref"
                        ng-show="!hideAdd"
                        che-button-title="{{addButtonTitle}}"
                        ng-href="{{addButtonHref}}"></che-button-primary>
    <che-button-primary class="che-list-import-button"
                        ng-if="onImport"
                        che-button-title="{{importButtonTitle}}"
                        ng-click="onImport()"></che-button-primary>
    <search-input placeholder="{{inputPlaceholder}}"
                  ng-model="inputValue"
                  class="che-list-search-input"
                  ng-show="inputPlaceholder && !hideSearch"></search-input>
    <che-filter-selector che-values="filterValues"
                         ng-if="filterValues && filterValues.length > 0 && !hideFilter"
                         che-on-change="onFilterChanged" class="che-list-filter"></che-filter-selector>
    <che-button-primary class="che-list-delete-button"
                        ng-if="deleteButtonTitle && !hideDelete"
                        che-button-title="{{deleteButtonTitle}}"
                        ng-click="onDelete()"
                        ng-disabled="deleteButtonDisable === true"></che-button-primary>
    <span ng-if="deleteButtonDisableMessage && !hideDelete && deleteButtonDisable" class="delete-button-disable-message">
      {{deleteButtonDisableMessage}}
    </span>
  </div>
  <md-item class="noselect">
    <md-item-content>
      <ng-transclude class="che-list-header-content" ng-hide="hideHeader"></ng-transclude>
    </md-item-content>
  </md-item>
</div>
